<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Trama</title>  
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />  
</head>
<body>
    <header>
      <nav>
        <a class="trama-logo" href="/">Trama</a>
      </nav>
    </header>

    <main>
        <h2>Meus cadernos</h2>
        <div id="notebooksContainer">

        </div>
    </main>

    <footer>
      <p>Trama - Cadernos Digitais • 2025</p>
      <a class="footer-note" target="_blank" href="https://github.com/giordanarubin/trama-app">github.com/giordanarubin/trama-app</a>
    </footer>
    
    <script src="/js/dashboard.js"></script>
</body>
</html>
