<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trama</title>
</head>
<body>
    <h2>CADASTRE-SE:</h2>
    <form id="registerForm">
        <input type="text" id="registerUsername" placeholder="usuário" required/>
        <input type="email" id="registerEmail" placeholder="e-mail" required/>
        <input type="password" id="registerPwd" placeholder="senha" required/>
        <button type="submit" id="registerBtn">Criar conta</button>
      </form>

    <H2>JÁ TEM CADASTRO? FAÇA LOGIN:</H2>
    <form id="loginForm">
        <input type="email" placeholder="e-mail" id="loginEmail" required/>
        <input type="password" placeholder="senha" id="loginPwd" required/>
        <button type="submit" id="loginBtn">Entrar</button>
    </form>

    <script src="/js/login.js"></script>
</body>
</html>