<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Trama</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <header>
      <nav>
        <a class="trama-logo" href="/">Trama</a>
      </nav>
    </header>

    <main>
      <div id="form-container">

        <div class="form-section">
          <h2>CADASTRE-SE:</h2>
          <form id="registerForm" class="form">
            <input
              type="text"
              id="registerUsername"
              placeholder="usuário"
              required
            />
            <input
              type="email"
              id="registerEmail"
              placeholder="e-mail"
              required
            />
            <input
              type="password"
              id="registerPwd"
              placeholder="senha"
              required
            />
            <button type="submit" id="registerBtn">Criar conta</button>
          </form>
        </div>

        <div class="form-section">
          <h2>JÁ TEM CADASTRO? FAÇA LOGIN:</h2>
          <form id="loginForm" class="form">
            <input type="email" placeholder="e-mail" id="loginEmail" required />
            <input type="password" placeholder="senha" id="loginPwd" required />
            <button type="submit" id="loginBtn">Entrar</button>
          </form>
        </div>
        
      </div>
    </main>

    <footer>
      <p>Trama - Cadernos Digitais • 2025</p>
      <a
        class="footer-note"
        target="_blank"
        href="https://github.com/giordanarubin/trama-app"
        >github.com/giordanarubin/trama-app</a
      >
    </footer>

    <script src="/js/login.js"></script>
  </body>
</html>
