#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 2rem;
}

@media (min-width: 768px) {
  #form-container {
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
    align-items: center;
  }
}

.form-section {
    background-color: chocolate;
    padding: 1rem;
}